@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");

* {
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  font-family: "Didact Gothic", serif;
  background-color: #e7e7e7;
}
