.about {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100vw;
  // display: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .aboutMain {
    display: flex;
    align-items: center;

    img {
      width: 490px;
      height: auto;
      padding-right: 30px;
    }

    .aboutTxt {
      width: 480px;
      padding-left: 20px;
    }
  }
}

//about 클릭할때마다 추가되는 스타일값
//클래스명이 기존 태그에 더하고 빠질때에는 클래스쓸때, 따로 빼주기!

.openAbout {
  transform: translateX(0);
  transition: transform 1s ease-out;
}

.closeAbout {
  transform: translateX(-100vw);
  transition: transform 1s ease-out;
}
