.about {
  background-color: #e7e7e7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  //   transform: translateX(-100%);
  //   transition: transform 1s ease-out;

  .aboutMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20%;
    padding-top: 20%;

    img {
      width: 490px;
      height: auto;
      padding-right: 30px;
    }

    .aboutTxt {
      width: 480px;
      padding-left: 20px;
    }
  }

  .btnL {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3.7px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transform: rotate(-90deg);
  }
  .btnR {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3.7px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transform: rotate(90deg);
    right: 0;
    text-decoration: line-through;
  }
}
.btnL:hover {
  animation: moveBtn 0.6s ease-in 1 forwards;
  @keyframes moveBtn {
    0% {
      transform: translateY(0) rotate(-90deg);
      text-decoration: none;
    }
    50% {
      transform: translateY(4px) rotate(-90deg);
      text-decoration: none;
    }
    100% {
      transform: translateY(0) rotate(-90deg);
      text-decoration: line-through;
    }
  }
}
